
<main>
    <div class="table-data">
        <div class="order">
            <div class="head">
                <h3>Chi tiết dự án</h3>
            </div>
            <table>
                <thead>
                    <div > 
                        <b>{{da.tenDuAn}}</b><br>
                    </div>
                    <div class="mb-3 border-bottom row">
                        <div class="col-6">
                        Ngay: {{da.ngayStart}}<br>
                        Giá: {{da.tien}} 
                        </div>
                        <div class="col-6">
                        Leader  {{da.leader}}<br>
                        Thành viên: {{da.thanhvien}}
                        </div>
                    </div>
                </thead>
               
              </table>
        </div>
    </div>
</main>