<main>
    <div class="table-data"> 
      <form #frmSDA="ngForm"  action="" class="form-add" (ngSubmit)="daSua(frmSDA.value)" method="PUT">
        <h3 class="text-center" style="color: #3c91e6;">SỬA DỰ ÁN</h3>
        <div class="form-group">         
          <label class="" >ID dự án</label>
          <input type="text" [(ngModel)]="da.id" value="{{da.id}}" name="id" class="form-control">        
        </div>
        <div class="form-group">

          <label class="" >Tên dự án</label>
          <input type="text" [(ngModel)]="da.tenDuAn" value="{{da.tenDuAn}}" name="tenDuAn" class="form-control">        
        </div>
        <div class="form-group" >
          <label class="" >Ngày bắt đầu</label>
          <input  type="date" [(ngModel)]="da.ngayStart" value="{{da.ngayStart}}" name="ngayStart" class="form-control">
        </div>
        <div class="form-group">
          <label class="" >Giá tiền</label>
          <input  type="number" min="1" max="999999999" [(ngModel)]="da.tien" value="{{da.tien}}" name="tien" class="form-control">
        </div>
        <div class="button">
          <button type="submit" class="btn" id="btnLuu">CẬP NHẬT DỰ ÁN</button>
        </div>
      </form>
    </div>
  </main>
  