<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<!-- Boxicons -->
	<link href="https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css" rel="stylesheet"/>
	<!-- My CSS -->


	<title>Admin</title>
</head>
<body>
	<!-- SIDEBAR -->
	<section id="sidebar">
	<a href="index.html" class="brand">
		<img src="assets/truyen.jpg" /><br />
		<p class="brand-text">AdminHub</p><br>
	</a>
	<!-- <a href="#" class="brand">
			<i class='bx bxs-smile'></i>
			<span class="text">AdminHub</span>
		</a> -->
		<ul class="side-menu top">
			<li class="active">
				<a href="#">
					<i class='bx bxs-home' ></i>
					<span class="text">Trang chủ</span>
				</a>
			</li>
      <li>
        <a [routerLink]="['/duan']" routerLinkActive="router-link-active"  href="#">
                    <i class='bx bxs-briefcase-alt' ></i>
          <span class="text">Danh sách dự án</span>
        </a>
      </li>
			<li>
				<a [routerLink]="['/nv']" routerLinkActive="router-link-active"  href="#">
					<i class='bx bxs-group'></i>
					<span class="text">Danh sách nhân viên</span>
				</a>
			</li>
			<li>
				<a [routerLink]="['/task']" routerLinkActive="router-link-active"  href="#">
					<i class='bx bxs-briefcase-alt' ></i>
					<span class="text">Danh sách task</span>
				</a>
			</li>
			<li>
				<a [routerLink]="['/themDuan']" routerLinkActive="router-link-active"  href="#">
					<i class='bx bxs-cart' ></i>
					<span class="text">Dự án thêm</span>
				</a>
			</li>
			<li>
				<a [routerLink]="['/themTask']" routerLinkActive="router-link-active"  href="#">
					<i class='bx bxs-cart' ></i>
					<span class="text">Task thêm</span>
				</a>
			</li>
			<li>
				<a [routerLink]="['themNV']" routerLinkActive="router-link-active"  href="#">
					<i class='bx bxs-cart' ></i>
					<span class="text">Nhân viên thêm</span>
				</a>
			</li>
           
		</ul>
		<ul class="side-menu">
			<li>
				<a href="#">
					<i class='bx bxs-cog' ></i>
					<span class="text">Settings</span>
				</a>
			</li>
			<li>
				<a href="#" class="logout">
					<i class='bx bxs-log-out-circle' ></i>
					<span class="text">Logout</span>
				</a>
			</li>
		</ul>
	</section>
	<!-- SIDEBAR -->

	<!-- CONTENT -->
	<section id="content">
	<!-- NAVBAR -->
	<nav>
		<i class="bx bx-menu"></i>
		<a href="#" class="nav-link">Thể loại</a>
		<form action="#">
			<div class="form-input">
				<input type="search" placeholder="Search..."/>
				<button type="submit" class="search-btn">
				<i class="bx bx-search"></i>
				</button>
			</div>
		</form>
			<input type="checkbox" id="switch-mode" hidden />
			<label for="switch-mode" class="switch-mode"></label>
			<a href="#" class="notification">
			<i class="bx bxs-bell"></i>
			<span class="num">8</span>
		</a>
		<a   href="" class="profile">
		<img src="assets/truyen.jpg" />
		</a>
		<a [routerLink]="['/dangnhap']" routerLinkActive="router-link-active" href="#" class="nav-link">Đăng nhập</a>
		<a [routerLink]="['/dangky']" routerLinkActive="router-link-active"  href="#" class="nav-link">Đăng ký</a>
		<div *ngIf="daDangNhap()" class="nav-item">
		  <a routerLink="doipass"   href="#" class="nav-link">Đổi pass</a>
		</div>
	</nav>
	<!-- NAVBAR -->

	<!-- MAIN -->
	<main>
		<div class="head-title">
			<div class="left">
				<h1>Bảng điều khiển</h1>
				<ul class="breadcrumb">
					<li>
						<a href="#">Bảng điều khiển</a>
					</li>
					<li><i class="bx bx-chevron-right"></i></li>
					<li>
						<a class="active" href="#">Home</a>
					</li>
				</ul>
			</div>
		<a href="donhang.html" class="btn-download">
			<i class="bx bxs-cart-alt"></i>
		</a>
		</div>

		<ul class="box-info">
			<li>
				<i class="bx bxs-calendar-check"></i>
				<span class="text">
				<h3>{{listDuan.length}}</h3>
				<p>Dự án</p>
				</span>
			</li>
			<li>
				<i class="bx bxs-group"></i>
				<span class="text">
				<h3>{{listNhanvien.length}}</h3>
				<p>Nhân viên</p>
				</span>
			</li>
			<li>
				<i class='bx bx-task'></i>
				<span class="text">
				<h3>{{listTask.length}}</h3>
				<p>Task</p>
				</span>
			</li>
			</ul>
	</main>
	<router-outlet></router-outlet>  
	<!-- MAIN -->
	</section>
	<!-- CONTENT -->

	<script src="js/script.js"></script>
	
</body>
</html>
<!-- file[0].name -->
