
<main>
    <div class="table-data">
        <div class="order">
            <div class="head">
                <h3>Chi tiết nhân viên</h3>
            </div>
            <table>
                <thead>
                    <div> 
                        <b>Họ tên: {{nv.ho}} {{nv.ten}}</b><br>
                    </div>
                    <div class="mb-3 border-bottom row">
                        <div class="col-6">
                        Ngày: {{nv.ngaysinh}}<br>
                        Phái: {{nv.phai}} <br>
                        Khu Vực : {{nv.khuvuc}}<br>
                        </div>
                        <!-- <div class="col-6">
                        </div> -->
                    </div>
                </thead>
               
              </table>
        </div>
    </div>
</main>
