<main>
    <div class="table-data">
        <div class="order">
            <input class="form-control" name="searchName" [(ngModel)]="searchName" (keyup)="searchByName()"><br>
            <div class="head">
                <h3 style="color: #3c91e6;">Danh sách Task</h3>
                <a href="#">Nhập thêm</a>

            </div>
            <table *ngFor="let tk of listTask">
                <thead>
                  <div > 
                      <b [routerLink]="['/task', tk.id]">{{tk.tenTask}} </b><br>
                      {{tk.moTa}} 
                  </div>
                  <div class="mb-3 border-bottom row">
                      <div class="col-6" >
                      Priority: {{tk.priority}}<br>
                      Status: {{tk.status}}
                      </div>
                      <div class="col-6" >
                      Nhân viên: {{tk.nhanvienID}}<br>
                      Dự án: {{tk.duAnID}}
                      </div>
                      <div class="col-6"> 
                        <td>
                            <a href="" [routerLink]="['/suaTask', tk.id]" routerLinkActive="router-link-active"  class="edit"><i class='bx bxs-edit-alt '></i></a>
                            <a href="" (click)="xoaTK(tk.id)"  class="trash"><i class='bx bxs-trash'></i></a>
                        </td> 
                    </div>
                  </div>
                </thead>
               
              </table>
        </div>
    </div>
</main>


  
